/* --------------------------------- GENERAL -------------------------------- */

*{
    margin: 0;
    padding: 0;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;

    line-height: 1.5;
}

h1{
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    color: hsl(192, 100%, 9%);
}

h2{
    font-family: 'Poppins', sans-serif;
    font-size: 2.4rem;
    color: hsl(192, 100%, 9%);
    margin-bottom: 20px;
}

input{
    color: hsl(321, 100%, 78%);
    border-color: hsl(321, 100%, 78%);
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

input:hover{
    color: hsl(322, 100%, 66%);
    border-color: hsl(322, 100%, 66%);
}

/* --------------------------------- HEADER --------------------------------- */

#logo{
    margin: 50px;
}

#input{
    width: 120px;
    height: 35px;
    margin-right: 70px;
    border-radius: 20px;
    justify-content: center;
    font-size: .8rem;

    position: absolute;
    top: 50px;
    right: 70px;
}

/* ------------------------------ INTRODUCCION ------------------------------ */

.introduccion{
    margin-top: 200px;
    text-align: center;
}

.texto-introduccion{
    width: 600px;
    margin: 20px auto;
}

.input-bonito{
    width: 400px;
    height: 80px;
    margin: 20px 0;

    
    color: white;
    background-color: hsl(322, 100%, 66%);
    border-radius: 50px;
}

.input-bonito:hover{
    color: black;
    background-color: hsl(321, 100%, 78%);
    border-color: hsl(321, 100%, 78%);
}

#img-mockup{
    display: block;
    margin: 100px auto;
}

.aumento-h{
    font-size: 5rem;
}

.introduccion p{
    color: grey;
}

.comunidades{
    text-align: justify;
    display: inline-block;
    position: relative;
    right: 200px;
}

.mensajes{
    text-align: justify;
    display: inline-block;
    position: relative;
    left: 150px;
    margin-bottom: 200px;
}

.bg-section-top-bot{
    display: block;
    width: 100%;
}

/* ------------------------------ GROW TOGETHER ----------------------------- */

.grow-together{
    background-color: hsl(207, 100%, 98%);   
}

.grow-texto{
    position: relative;
    left: 200px;
    bottom: 150px;
    display: inline-block;
    text-align: justify;
    width: 620px;
}

#img-grow{
    position: relative;
    left: 300px;
    display: inline-block;
    width: 600px;
}

/* -------------------------- FLOWING CONVERSATIONS ------------------------- */

.flowing-conversations{
    margin: 200px;
}

.flowing-texto{
    position: relative;
    left: 900px;
    bottom: 150px;
    display: inline-block;
    text-align: justify;
    width: 620px;
}

#img-flow{
    position: relative;
    right: 450px;
    display: inline-block;
    width: 600px;
}

/* ------------------------------- YOUR USERS ------------------------------- */

.your-users{
    background-color: hsl(207, 100%, 98%); 
}

.users-texto{
    position: relative;
    left: 200px;
    bottom: 150px;
    display: inline-block;
    text-align: justify;
    width: 620px;
}

#img-users{
    position: relative;
    left: 300px;
    display: inline-block;
    width: 600px;
}

/* ------------------------------- CONCLUSION ------------------------------- */

.conclusion{
    margin-top: 200px;
    text-align: center;
}

.conclusion input{
    margin-bottom: 200px;
}

.bg-footer-section{
    width: 100%;
}

/* --------------------------------- FOTTER --------------------------------- */

fotter{
    background-color:  hsl(192, 100%, 9%);
}